import { I{{pascalCase name}} } from "@/components/{{type}}/{{camelCase name}}/types";

const {{pascalCase name}} = ({ className="" }:I{{pascalCase name}}) => {

  return (
    <div className={`${className}`}>
      {{pascalCase name}} component
    </div>
  );
};

export default {{pascalCase name}};
