import { I{{pascalCase name}}Layout } from "@/app/[lang]/{{kebabCase name}}/types";

const {{pascalCase name}}Layout = ({ children }: I{{pascalCase name}}Layout)=> {
  return <section>{children}</section>;
};

export default {{pascalCase name}}Layout;
