import { I{{pascalCase name}} } from "@/app/[lang]/{{kebabCase name}}/types";

const {{pascalCase name}} = ({ className="" }: I{{pascalCase name}})=> {
  return (
    <div className={`${className}`}>
      {{pascalCase name}} component
    </div>
  );
};

export default {{pascalCase name}};
